/* <!--   Урок 4  -->
  <!-- Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  -->
  <!--  Використовуйте цей селектор :hover--> */

.btn:hover {
  color: red;
  background-color: yellow;
}

/* <!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: -->
  <!--  Використовуйте цей селектор :hover--> */

.title:hover {
  background-color: green;
}

/* <!-- Завдання №3. Змініть колір тексту відвіданого посилання на жовтий: -->
  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
          що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
          тому легше всього пройти тут -->
  <!--  Використовуйте цей селектор :visited--> */

.lesson-four-task-three a:visited {
  color: yellow;
}

/* <!--    Завдання №4. Змініть колір тексту посилання,
    яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: -->

  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
        що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
        тому легше всього пройти тут -->

  <!--      Використовуйте цей селектор :link --> */

.lesson-four-task-four #sidebar .link:link {
  color: red;
}

/* <!--    ЗаЗавдання №5. Змініть колір фону кнопки на синій, коли кнопка активна  -->

  <!--      Використовуйте цей селектор :active --> */

.lesson-four-task-five:active {
  background-color: blue;
}

/* <!--    Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: -->

  <!--      Використовуйте цей селектор :focus --> */

.lesson-four-task-six .btn:focus {
  background-color: orange;
}

/* <!--    Завдання №7. Змініть колір тексту на білий та фон елемента на зелений,
  який вказаний в URL як фрагмент, коли на нього встановлюється :target -->

  <!--      Використовуйте цей селектор :target --> */

#target:target {
  background-color: green;
  color: white;
}

/* <!--    Завдання №8. Змініть колір тексту на білий та фон елемента на синій при натискані відповідного чекбоксу: -->

  <!--      Використовуйте цей селектор :checked --> */

input[type='checkbox']:checked ~ #target {
  background-color: blue;
  color: white;
}

/* <!--    Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою. -->

  <!--      Використовуйте цей селектор :lang() --> */

.lesson-four-task-nine p:lang(uk) {
  color: blue;
}

/* <!--    Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення.-->

  <!--      Використовуйте цей селектор :enabled --> */

.lesson-four-task-ten input:enabled {
  color: red;
  background: yellow;
}

/* <!--    Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними.-->

  <!--      Використовуйте цей селектор :disabled --> */

.lesson-four-task-eleven button:disabled {
  color: yellow;
}

/* <!--    Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly. -->

  <!--      Використовуйте цей селектор :read-write --> */

.lesson-four-task-twelve input:read-write {
  background: yellow;
}

/* <!--  Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly. --> */

.lesson-four-task-thirteen input:read-only {
  background: yellow;
}

/* <!--    Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. -->

  <!--      Використовуйте ці селектори :valid та :invalid   --> */

.lesson-four-task-fourteen input:valid {
  background: green;
}

.lesson-four-task-fourteen input:invalid {
  background: red;
}

/* <!--    Завдання №15. Застосувати селектор :optional до текстового поля форми,
яке не є обов'язковим для заповнення, і змінити його фон на червоний,. -->

<!--      Використовуйте цей селектор :optional --> */

.lesson-four-task-fifteen #message:optional {
  background-color: red;
}

/* <!--    Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100.
Задача змінити колір тексту поля вводу на червоний, якщо значення не входить до цього діапазону.-->

<!--      Використовуйте цей селектор :out-of-range --> */

.lesson-four-task-sixteen #quantity:out-of-range {
  color: red;
}

/* <!-- Завдання №17.    Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту на червоний, якщо значення входять до діапазону від 0 до 100. -->

  <!--      Використовуйте цей селектор :in-range--> */

.lesson-four-task-seventeen #quantity:in-range {
  color: red;
}

/* <!--    Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний ,
  який зникає, коли користувач починає вводити. -->

  <!--      Використовуйте цей селектор :placeholder-shown--> */

.lesson-four-task-eighteen input:placeholder-shown {
  background: red;
}

/* <!--    Завдання №19. Застосуйте селектор :focus-within до блоку,

  який змінює колір тексту на білий та фоновий колір на жовтий при активному стані. --> */

.lesson-four-task-nineteen button:focus-within {
  color: white;
  background: yellow;
}

/* <!--    Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний. -->

  <!--      Використовуйте цей селектор :invalid--> */

.lesson-four-task-twenty input:invalid {
  background: red;
}

/* БУЛО ДУЖЕ ЦІКАВО ВИКОНУВАТИ ЦЕ ЗАВДАННЯ!!! */
